<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>All</title>
    <link rel="stylesheet" href="/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="js/all.js" defer></script>
</head>
<body>
    <h1>All ToDos</h1>
    <button id="newToDoBtn" class="">New ToDo</button>
    <button id="closeToDoCreation" class="hide">Cancel</button>
    <div id="newToDoDiv" class="hide">
        <form action="/add_todo" method="post">
            What you want to do?
            <input type="text" name="todo_name" required>
            <br>
            Is it urgent?
            <select name="todo_urgency">
                <option value="true">Yes</option>
                <option value="false" selected>No</option>
            </select>
            <br>
            How many minutes is it about?
            <input type="number" name="todo_duration" required>
            <br>
            How important is it?
            <select name="todo_priority">
                <option value="P0" selected>No Priority</option>
                <option value="P1">Low Priority</option>
                <option value="P2">Medium Priority</option>
                <option value="P3">High Priority</option>
            </select>
            <br>
            Which project it belongs to?
            <select name="todo_project">
                <option th:each="project : ${projects}" th:value="${project.id}" th:text="${project.name}"></option>
            </select>
            <br>
            <button type="submit">Add ToDo</button>
        </form>
    </div>
    <button id="newProjectBtn" class="">New Project</button>
    <button id="closeProjectCreation" class="hide">Cancel</button>
    <div id="newProjectDiv" class="hide">
        <form action="/add_project" method="post">
            What is your new project?
            <input type="text" name="project_name" required>
            <br>
            <button type="submit">Add Project</button>
        </form>
    </div>
    <table>
        <tr>
            <td><h4>ToDo</h4></td>
            <td><h4>Urgent</h4></td>
            <td><h4>Duration(min)</h4></td>
            <td><h4>Priority</h4></td>
            <td><h4>Project</h4></td>
        </tr>
        <tr th:each="todo: ${todolist}" th:id="todo+${todo.getId()}">
            <td th:text="${todo.getName()}">thing 1</td>
            <td th:text="${todo.isUrgent()}">urgency</td>
            <td th:text="${todo.getDuration()}">10</td>
            <td th:text="${todo.getPriority()}">P0</td>
            <td th:text="${todo.getProject().getName()}">project1</td>
            <td><button th:onclick="'deleteToDo(' + ${todo.getId()} + ')'">X</button></td>

        </tr>
    </table>
</body>
</html>