<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/home.css" />
    <script src="/js/home.js" defer></script>

</head>
<body>


    <h1>ToDo App</h1>

    <div id="container">
        <table id="todos">
            <tr>
                <td>ToDo</td>
                <td>Urgency</td>
                <td>Priority</td>
                <td>Duration(mins)</td>
                <td>Color</td>
                <td>Project</td>
            </tr>
        </table>
    </div>
</body>
</html>