<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" lang="en">
<head>
    <title>Home</title>
</head>
<body>

    <div layout:fragment="content">
        <div class="jumbotron main-content">
            <h1>Welcome To Nudge Your Mind</h1>
            <p>Organise your tasks into different rooms where you will also find your needed resources.</p>
        </div>
        <div class="container">
            <h3>What do you want to do?</h3>
            <ul>
                <li><a th:href="@{/home}">Check ToDo Page</a></li>
            </ul>
        </div>
    </div>

</body>
</html>