<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div id="login_form">
        <form action="/login" method="post">
            <label for="username">Select a username:</label>
            <input id="username" type="text" name="username" required>
            <br>
            <label for="password">Select a password:</label>
            <input id="password" type="password" name="password" required>
            <br>
            <button class="btn btn-success" type="submit">Login</button>
        </form>
        <br>
        <a href="/registration">Registration</a>
    </div>
</body>
</html>