<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <div id="registration_form">
        <form action="/register" method="post">
            <label for="username">Select a username:</label>
            <input id="username" type="text" name="username" required>
            <br>
            <label for="password">Select a password:</label>
            <input id="password" type="password" name="password" required>
            <br>
            <button class="btn btn-success" type="submit">Register</button>
        </form>
    </div>
</body>
</html>