<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" lang="en">
<head>
    <title>Rooms</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
          integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/rooms.css">
</head>
<body>

<div layout:fragment="content">
    <div class="jumbotron main-content">
        <h1>Rooms</h1>
        <p>Here you can find the list of your rooms.</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4" th:each="room:${rooms}">
                <a th:href="'room/'+${room.getId()}">
                    <i class="fas fa-door-closed center fa-5x" th:style="'color:'+${room.getThemeColor()}+';'"></i><br>
                    <i class="center" th:text="${room.getName()}">room</i>
                </a>
                <i class="fa fa-times-circle" style="color: darkred;" aria-hidden="true"></i><br>
                <br>
            </div>
        </div>

    </div>
</div>

</body>
</html>